.mainHome{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    margin-top: 10rem;
    margin-left: 20px;

}
/* .hTitle{

} */
.hTitleContent{
    font-size: 95px;
    font-weight: 500;
    color: linear-gradient(to right, #111 50%, #444 50%);
}
/* .hDiscription{
  
} */
.hDisContent{
    font-size: 30px;
    font-weight: 300 ;
}
.home{
   display: flex;
   align-items:left;
}
.contain{
    margin-left: 30px;
} 
.mHome{
    height: 92vh;
    overflow: hidden;
}
.hButton {
    margin-top: 75px;
    margin-bottom: 30px;
    display: flex;
    justify-content: left;
    align-items: left;
}
.sButton{
    background-color: rgb(41, 10, 160) !important;
    color: rgb(255, 255, 255) !important;
    width: 200px !important;
    height: 40px !important;
    font-size: 15px !important;

}